@charset "UTF-8";

div{
    background-image: url("imagens/wallpaper002.jpg");
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
}

div#d1{
    background-position: left top;

}

div#d2{
    background-position: left center;

}

div#d3{
    background-position: right bottom;

}

div#d4{
    background-position: center center;
}